@import "tailwindcss";

*{
  color: #fff;
}

body{
    background-color: #111;
}

#tasklist::-webkit-scrollbar{
    background-color: transparent;
display: none;
}

select option{
  color: #000;
  background-color: #fff;
}
